/* font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Universal style */

*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-optical-sizing: auto;
    box-sizing: border-box;
}

/* shared style */

/* navbar button */
.btn-nav{
    display: flex;
    border-radius: 4px;
    background-color: #469165;
    padding: 12px 16px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

/* navbar menu */

.menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

.menu a{
    color: var(--000000, #000);
    font-size: 16px;
    text-decoration: none;
}

/* navbar */

nav{
    display: flex;
    padding: 16px 120px;
    justify-content: space-between;
    align-items: center;
}

/* Hero */

.hero-section{
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0;
    /* margin-bottom: 60px; */
}

.hero-content{
    text-align: center;
    /* align-items: center; */
}

.hero-content h1{
    color: #FFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}

.hero-content h1 span{
    color: #30B868;
}

.hero-content p{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 32px;
}

/* hero buttons */

.early-access{
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    background: #FFF;
    font-size: 16px;
    color: #469165;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.earlyAccess{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-w-arrow{
    border-radius: 4px;
    background-color: #469165;
    padding: 12px 16px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #469165;
    margin-right: 10px;
    cursor: pointer;
}

.btn-w-play{
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    border: 1px solid white;
    background: transparent;
    cursor: pointer;
}

/* app section 1 */

.app-section-1{
    padding: 120px 120px 0 120px;
}

.app-section-1-title{
    text-align: center;
}

.app-section-1-title h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.app-section-1-title p{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    margin-bottom: 30px;
}

/* cards */

.card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    gap: 24px;
}

.card{
    padding: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow:0 0 8px 0 rgba(0, 0, 0, 0.06) ;
    
}

.card h3{
    font-size: 18px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.card p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.icon{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 100%;
    padding: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.icon img{
    width: 60%;
}

/* app section 2 */

.app-section-2{
    padding: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.app-section-2 .text-section .sub{
    font-size: 16px;
    font-weight: 500px;
    color: #469165;
    margin-bottom: 16px;
}

.app-section-2 .text-section h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.app-section-2 .text-section > p{
    color: #627382;
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 40px;
}

.list{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 16px;
}

/* app section 3 */

.app-section-3
{
    padding: 0 120px 120px 120px;
    
}

.app-section-3 .section-3-content{
    padding: 40px 40px;
    text-align: center;
    border-radius: 12px;
    background-color: #F7F6F2;
}

.section-3-content h1{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.section-3-content p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.btn-early-access{
    border-radius: 4px;
    background-color: #469165;
    padding: 12px 16px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
}

/* footer */

footer{
    background-color: #001931;
    padding: 120px 120px 30px 80px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.footer-content .social p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px  ;
}

.copy-right{
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid #e5e7eb16;
}

